@import "utilities";

.global-header {
  position: fixed;
  top: 0;
  right: 0;
  left: $sidebar-width;
  height: $height-app-header;
  background-color: $blue-grey-900;
}

//.app-navbar {
//  background-color: $blue-grey-900;
//}
//
//.navbar-search-icon {
//  background-color: $blue-grey-900;
//  border-color: $blue-grey-900;
//  color: $blue-grey-100;
//  line-height: 52px;
//  height: auto;
//}
//
//.navbar-search-input {
//  background-color: $blue-grey-900;
//  border-color: $blue-grey-900;
//  border-right-color: $blue-grey-100;
//  color: $blue-grey-100;
//  line-height: 52px;
//  height: auto;
//
//  &:focus {
//
//  }
//}
