$red: $red-a400;
$pink: $pink-300;
$purple: $deep-purple-400;
$indigo: $indigo-600;
$blue: $blue-600;
$light-blue: $light-blue-600;
$cyan: $cyan-300;
$green: $green-a700;
$yellow: $amber-a400;
$orange: $orange-600;
$grey: $grey-400;
$blue-grey: $blue-grey-700;
$black: #000000;
$white: #ffffff;

$color-primary: $blue;
$color-secondary: $indigo;
$color-tertiary: $cyan;

$color-error: $red;
$color-warning: $yellow;
$color-success: $green;
$color-info: $indigo;

$color-text-dark: $blue-grey-800;
$color-text: $blue-grey-700;
$color-text-light: $blue-grey-300;
$color-text-muted: $blue-grey-100;

$color-link: $blue;
$color-hover: $purple;

$color-border-dark: $grey-400;
$color-border: $grey-300;
$color-shadow: rgba(0,0,0,0.10);

$color-header: $blue;
$color-site-menu: $blue-grey-700;
$color-site-menu-active: $blue-grey-600;
$color-site-selector: $blue-grey-800;
$color-page-nav: $blue-grey-100;
$color-bkgd: $blue-grey-50;
