@import "utilities";

.side-navigation__content_card {
  background-color: $custom-light-grey;
  height: 100%;
}

.file-tree {
  border-color: black;
  //margin-top: 5px;

  &:first-child {
    margin-top: 0;
  }

  ul{
    margin: 0;
    padding-left: 25px;
    list-style: none;
    line-height: 2em;

    li{
      position: relative;
      &:before{
        position: absolute;
        left: -15px;
        top: 0;
        content: '';
        display: block;
        border-left: 1px solid;
        height: 1em;
        border-bottom: 1px solid;
        width: 10px;
      }

      &:after{
        position: absolute;
        left: -15px;
        bottom: -7px;
        content: '';
        display: block;
        border-left: 1px solid;
        height: 100%;
      }

      &.root{
        margin: 0 0 0px -20px;
        &:before{
          display: none;
        }

        &:after{
          display: none;
        }
      }

      &:last-child{
        &:after{
          display: none;
        }
      }
    }
  }
}
