.file-tree {
  border-color: black;
  display: inline-block;

  ul {
    margin: 0;
    padding-left: 25px;
    list-style: none;
    line-height: 2em;
  }
}

.file-tree-list {
  padding-left: 25px;
}

.categoryName {
  display: block;
  line-height: 1.5em;
  padding: 0;
}

.root {
  margin: 0 0 0 -20px;
}

.subcategoryList {
  margin-left: 25px;
}
