<ng-content></ng-content>

<ng-container *ngIf="parentCategory.showSubcategories">
  <li *ngFor="let category of parentCategory.subcategories">
    <ul *ngIf="isSubSubCategories; else subcategory">
      <li>
        <button
          (click)="category.showSubcategories = !category.showSubcategories"
          class="no-style-button categoryName">
              <span class="icon is-small">
                <i class="far" [ngClass]="category.showSubcategories ? 'fa-folder-open' : 'fa-folder'"></i>
              </span>

          <span>
                {{ category.categoryName }}
              </span>
        </button>
      </li>

      <app-side-navigation-category
        *ngIf="category.subcategories.length !== 0 && category.showSubcategories"
        [parentCategory]="category"
        [isSubSubCategories]="true">
      </app-side-navigation-category>
    </ul>

    <ng-template #subcategory>
      <button
        (click)="category.showSubcategories = !category.showSubcategories"
        class="no-style-button categoryName">
      <span class="icon is-small">
        <i class="far" [ngClass]="category.showSubcategories ? 'fa-folder-open' : 'fa-folder'"></i>
      </span>

        <span>{{ category.categoryName }}</span>
      </button>
    </ng-template>

    <app-side-navigation-category
      *ngIf="category.subcategories.length !== 0 && !isSubSubCategories && category.showSubcategories"
      [parentCategory]="category"
      [isSubSubCategories]="true">
    </app-side-navigation-category>
  </li>
</ng-container>
