<ng-content></ng-content>

<li *ngFor="let category of categories; let categoryIndex = index" class="subcategory">
  <button *ngIf="!isSubSubCategories; else subSubcategory" class="no-style-button categoryName">
    {{ category.categoryName }} * {{ categoryIndex }}
  </button>

  <ng-template #subSubcategory>
    <ul>
      <li class="subSubcategory">
        <button class="no-style-button categoryName">
        {{ category.categoryName }} # {{ categoryIndex }}
        </button>
      </li>

      <app-side-navigation-category
        *ngIf="category.subcategories.length !== 0"
        [categories]="category.subcategories"
        [isSubSubCategories]="true">
      </app-side-navigation-category>
    </ul>
  </ng-template>

  <app-side-navigation-category
    *ngIf="category.subcategories.length !== 0 && !isSubSubCategories"
    [categories]="category.subcategories"
    [isSubSubCategories]="true">
  </app-side-navigation-category>
</li>
