html, body {
  background-color: $body-background-color;
  color: $blue-grey-100;
}

// Changes color of input field placeholder text
::-webkit-input-placeholder {
  color: $blue-grey-100 !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: $blue-grey-100 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $blue-grey-100 !important;
}

:-ms-input-placeholder {
  color: $blue-grey-100 !important;
}
